.about {
    gap: 20%;
    flex-wrap: wrap;
}

.about .copy-area {
    max-width: 900px;
}

.about .copy-area .headline {
    margin-top: 0;
}

.bubble {
    position: relative;
    flex-shrink: 0;
    background: radial-gradient(circle at 75% 30%, #fff 5px, #00f 60%);
    box-shadow: inset 0 0 20px #fff, inset 10px 0 46px #eaf5fc, inset 88px 0 60px #c2d8fe, inset -20px -60px 100px #fde9ea, inset 0 50px 140px #fde9ea, 0 0 5px #fff;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    animation: wobble infinite 12s linear alternate;
}

.bubble:before {
    content: '';
    background-image: url(/assets/bubble-jill--1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 31px;
    height: 31px;
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
}

@media (prefers-color-scheme: dark) {
    .bubble {
        box-shadow: inset 0 0 20px #fff, inset 10px 0 46px #eaf5fc, inset 88px 0 60px #c2d8fe, inset -20px -60px 100px #fde9ea, inset 0 50px 140px #fde9ea, 0 0 5px #fff, 0 0 104px #fff;
    }
}

@keyframes wobble {
    0% {
        transform: translate(9px, -8px);
    }
    25% {
        transform: translate(-10x, -16px);
    }
    50% {
        transform: translate(-12px, 15px);
    }
    75% {
        transform: translate(10px, 13px);
    }
    100% {
        transform: translate(15px, -14px);
    }
}