.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card {
    position: relative;
    max-height: 80dvh;
    overflow: hidden;
}
.card-data {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 16px;
    opacity: 0;
    z-index: 2;
    transform: translateY(-50%);
    transition: opacity .25s;
}
.card-data h3 {
    margin: 0;
}
.card :is(img, video) {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #11111170;
    backdrop-filter: blur(4px);
    opacity: 0;
    transition: opacity .25s, backdrop-filter .5s;
    z-index: 1;
}

.card:hover:after {
    opacity: 1;
}

.card:hover .card-data {
    opacity: 1;
}
.card-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    padding-left: 0;
    max-width: 500px;
}
.tech-pill {
    border-color: currentColor;
}