.card-section {
    display: flex;
    flex-direction: column;
}

.card-container {
    width: 100%;
    overflow: hidden;
}

.card-track {
    display: flex;
    gap: 10px;
    padding-block: 3rem;
    padding-inline: 10px;
    overflow: auto;
    scrollbar-width: none;
}

.card-container .card {
    position: relative;
    width: 500px;
    aspect-ratio: 1;
    flex-shrink: 0;
    border-radius: 13px;
    border: 1px solid;
    transform: skew(0deg, -10deg);
    overflow: hidden;
    will-change: margin-right, transform;
}

.card-container .card:not(:last-of-type) {
    margin-right: -250px;
    transition: margin-right .2s, transform .5s .1s;
}

@media (hover: hover) {
    .card-container .card:hover {
        margin-right: 0;
        transform: none;
    }
}

.card-data {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 16px;
    opacity: 0;
    z-index: 2;
    transform: translateY(-50%);
    will-change: opacity;
    transition: opacity .25s;
}
.card-data h3 {
    margin: 0;
}
.card :is(img, video) {
    height: 100%;
    width: 100%;
    object-fit: cover;
    will-change: filter;
    transition: filter .2s;
}

@media (hover: hover) {
    .card:hover :is(img, video) {
        filter: blur(4px) brightness(.5);
    }
    .card:hover .card-data {
        opacity: 1;
    }
}

.card-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    padding-left: 0;
    max-width: 500px;
}
.tech-pill {
    border-color: currentColor;
}
.card-tech-filter {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 12px 9px;
    max-width: 1000px;
    margin-bottom: 67px;
}
.card-tech-filter .filter {
    position: relative;
    background-color: transparent;
    font-weight: 400;
    cursor: pointer;
    overflow: hidden;
    transition: background-color .25s, color .25s;
}

.card-tech-filter .filter:hover,
.filter.active {
    color: #fff;
}

.card-tech-filter .filter:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 100%;
    background-color: #646cff;
    transition: left .25s;
    z-index: -1;
    background-blend-mode: hard-light
}

.card-tech-filter .filter:hover:before,
.filter.active:before {
    left: 0;
}

.card-business {
    max-width: 900px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin-bottom: 88px;
    background-color: transparent;
}
.card-business:first-of-type {
    margin-top: 91px;
}
.card-business :is(p, h2) {
    margin: 0
}

@media (max-width: 768px) {
    .card-container .card {
        width: 300px;
    }

    .card-container .card:not(:last-of-type):not(:hover) {
        margin-right: -150px;
    }
}