.card-section {
    display: flex;
    flex-direction: column;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    order: 2
}
.card {
    position: relative;
    max-height: 80dvh;
    background-color: #fff;
    overflow: hidden;
}
.card-data {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 16px;
    opacity: 0;
    z-index: 2;
    transform: translateY(-50%);
    will-change: opacity;
    transition: opacity .25s;
}
.card-data h3 {
    margin: 0;
}
.card :is(img, video) {
    height: 100%;
    width: 100%;
    object-fit: cover;
    will-change: filter;
    transition: filter .5s;
}

.card:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #11111170;
    opacity: 0;
    will-change: opacity;
    transition: opacity .25s;
    z-index: 1;
}

.card:hover :is(img, video) {
    filter: blur(4px);
}

.card:hover:after {
    opacity: 1;
}

.card:hover .card-data {
    opacity: 1;
}
.card-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    padding-left: 0;
    max-width: 500px;
}
.tech-pill {
    border-color: currentColor;
}
.card-tech-filter {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 12px 9px;
    max-width: 1000px;
    margin-bottom: 67px;
}
.card-tech-filter .filter {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: background-color .25s, color .25s;
}

.card-tech-filter .filter:hover,
.filter.active {
    color: #fff;
}

.card-tech-filter .filter:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 100%;
    background-color: #646cff;
    transition: left .25s;
    z-index: -1;
    background-blend-mode: hard-light
}

.card-tech-filter .filter:hover:before,
.filter.active:before {
    left: 0;
}

@media (max-width: 560px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}