footer {
    margin-top: 120px;
    padding: 166px 0 21px;
    background-color: #f4f4f4;
}

.footer-cta {
    margin-bottom: 191px;
}

footer .flexbox {
    width: 100%;
    justify-content: space-between;
}

.socials {
    display: flex;
    gap: 13px;
    align-items: center;
}
.social {
    transition: filter .25s;
}

.social:hover:before {
    animation: dropshadow .25s forwards ease;
}

@media (max-width: 480px) {
    footer .site-container {
        flex-direction: column;
    }
    .socials {
        order: -1
    }
}

@keyframes dropshadow {
    from {
        filter: none;
    }
    to {
        filter: invert(1) drop-shadow(0 0 4px #111);
    }
}