.bio {
    max-width: 680px;
    margin-bottom: 138px;
}
.section-head {
    position: sticky;
    width: 100%;
    top: 102px;
    padding: 18px 28px;
    border-radius: 13px;
    background-color: #ffffff99;
    backdrop-filter: blur(40px);
    z-index: 998;
}

.as-text {
    position: relative;
    opacity: 0;
    animation: animateIn 1s forwards linear;
}

@keyframes animateIn {
    from {
        opacity: 0;
        filter: blur(90px);
    }
    to {
        opacity: 1;
        filter: none;
    }
}

@media (max-width: 768px) {
    .bio {
        margin-bottom: 102px;
    }
    .section-head {
        padding: 6px 12px;
    }
}

@media (max-width: 560px) {
    .bio {
        margin-bottom: 0;
    }
}