nav {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 999;
}
nav ul {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 33px 0;
    list-style: none;
    padding-left: 0;
}
nav ul li a {
    color: initial;
}

nav a:focus {
    outline: none;
}

nav ul li:has(a[href='/']) {
    margin-right: auto;
}

nav ul li a[href='/']:before {
    content: '';
    background-image: url(/assets/bubble-jill--2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 100%;
    display: inline-block;
}

nav ul li:hover a[href='/']:before {
    background-image: url(/assets/bubble-jill--1.png);
}

@media (prefers-color-scheme: dark) {
    nav ul li a[href='/']:before {
        filter: invert(1);
    }
}