nav {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 999;
}
nav ul {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 33px 0;
    list-style: none;
    padding-left: 0;
}
nav ul li a {
    color: initial;
    vertical-align: middle;
}

nav a:focus {
    outline: none;
}

nav ul li:has(a[href='/']) {
    margin-right: auto;
}

nav ul li a[href='/']:before {
    content: '';
    background-image: url(/assets/bubble-jill--2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 100%;
    display: inline-block;
}

nav ul li:hover a[href='/']:before {
    background-image: url(/assets/bubble-jill--1.png);
}

.status {
    position: relative;
    border: 1px solid;
    border-radius: 22px;
    padding: 4px 28px;
    background-color: #111;
    color: #fff;
}
.status .copied-message {
    position: absolute;
    margin: 0;
    top: 50%;
    right: 21px;
    font-size: 14px;
    transform: translateY(-50%);
    animation: fade .2s forwards linear;
}

.status-text {
    margin: 0;
    display: flex;
    align-items: center;
    transition: opacity .25s;
}
.status-text:after {
    content: attr(data-desktop);
}
.status-text:before {
    content: '';
    display: inline-block;
    margin-right: 21px;    
    width: 10px;
    height: 10px;
    background-color: #3dff81;
    border-radius: 50%;
    vertical-align: middle;
    animation: flashing 1s alternate-reverse infinite;
}
.status .hover-text {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 12px;
    align-items: center;
    margin: 0;
    padding: 0 21px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-family: monospace;
    letter-spacing: 2px;
    transition: opacity .25s;
    box-sizing: border-box;
}

.status:hover .status-text {
    opacity: 0;
}
.status:hover .hover-text {
    opacity: 1;
}

@media (prefers-color-scheme: dark) {
    .status {
        border-color: #fff;
    }
    nav ul li a[href='/']:before {
        filter: invert(1);
    }
}

@media (max-width: 768px) {
    .status-text:after {
        content: attr(data-mobile);
    }
}

@media (max-width: 480px) {
    .status {
        padding: 4px 12px;
        font-size: 12px;
    }
    .status-text:before {
        margin-right: 8px;
    }
}

@keyframes flashing {
    from {
        box-shadow: 0 0 22px #3dff81;
    }    
    to {
        box-shadow: 0 0 4px #3dff81;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}