#root {
  min-height: calc(80dvh);
  width: 100%;
  margin-top: 20dvh;
  display: flex;
  flex-direction: column;
}
html {
  scroll-behavior: smooth;
}
.site-container {
  max-width: min(1980px, 90%);
  width: 100%;
  margin: 0 auto;
}
img {
  max-width: 100%;
}

section {
  position: relative;
  margin: 91px 0;
}

section:first-of-type {
  margin-top: 0;
}

h1, h2, h3, h4 {
  font-weight: 200
}

label {
  font-family: monospace;
  font-size: 14px;
  letter-spacing: 2px;
}

.flexbox {
  display: flex;
}

.tech-pill {
  border: 1px solid #111;
  padding: 3px 24px;
  border-radius: 24px;
  letter-spacing: 1.4px;
}

.star-burst:after {
  content: url(../public/assets/dashes.svg);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.glass-container {
	position: relative;
  padding: 0;
  font-weight: 800;
  transition: color .2s ease;
}
.glass-container.is-sticky {
  color: #111;
}
.glass-container.is-sticky h2 {
  font-weight: 600;
}
.glass {
    border-radius: 13px;
    padding: 18px 28px;
    backdrop-filter: blur(3px) brightness(1.1);
    & + .glass-border,
    & + .glass-border + .glass-edge {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: inherit;
    }
    & + .glass-border {
        backdrop-filter: blur(5px);
        clip-path: polygon(0% 0%, 0% 100%, 10px 100%, 10px 10px, calc(100% - 10px) 10px, calc(100% - 10px) calc(100% - 10px), 10px calc(100% - 10px), 10px 100%, 100% 100%, 100% 0%);
        & + .glass-edge {
            backdrop-filter: blur(10px);
            clip-path: polygon(0% 0%, 0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px), 2px 100%, 100% 100%, 100% 0%);
        }
    }
}


@media (max-width: 768px) {
  section {
    margin: 67px 0
  }
}