#root {
  min-height: calc(80dvh);
  width: 100%;
  margin-top: 20dvh;
  display: flex;
  flex-direction: column;
}
html {
  scroll-behavior: smooth;
}
.site-container {
  max-width: min(1980px, 90%);
  width: 100%;
  margin: 0 auto;
}
img {
  max-width: 100%;
}

section {
  position: relative;
  margin: 91px 0;
}

section:first-of-type {
  margin-top: 0;
}

h1, h2, h3, h4 {
  font-weight: 200
}

label {
  font-family: monospace;
  font-size: 14px;
  letter-spacing: 2px;
}

.flexbox {
  display: flex;
}

.tech-pill {
  border: 1px solid #111;
  padding: 3px 24px;
  border-radius: 24px;
  letter-spacing: 1.4px;
}

@media (max-width: 768px) {
  section {
    margin: 67px 0
  }
}